@import url(style.css);

hr {
    width: 97%;
    margin: 20px;

    background-color: var(--cor-borda-cinza-2);
}

.container-1 {
    display: flex;
    flex-direction: column;

    padding: 10vh 10vw;

    background-color: var(--cor-6);

    gap: 15px;
}

.container-1 h1 {
    font-size: 3.5rem;
}

.container-1 h1,
.container-1 p {
    color: var(--cor-branco);
}

.container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 50px;
}

.container-2 h1 {
    font-size: 0.8rem;
}

.container-4 {
    display: flex;
    flex-direction: column;

    padding: 10px;

    border: 1px solid var(--cor-preto);
    background-color: var(--cor-branco);
    border-radius: 5px;

    gap: 10px;
}

.container-4 a {
    padding-left: 5px;

    text-decoration: none;

    color: var(--cor-branco);
    border: 1px solid var(--cor-borda-cinza);
    border-radius: 5px;
    background-color: var(--cor-1);
}

.container-4 a:hover {
    transition: 300ms;

    color: var(--cor-preto);
    background-color: var(--cor-2);
    box-shadow: 0 0 15px 0px var(--cor-1);
}

.container-4 p {
    font-size: 0.7rem;
}

.container-3 {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    border-radius: 5px;

    gap: 20px;
}

.container-3 h1 {
    font-size: 1.875rem;

    color: var(--cor-5);
}

.radio-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    gap: 10px;
}

.radio-group img {
    width: 70px;
}

.radio-label {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    min-width: 100px;
    height: 140px;
    padding: 5px;

    border: 1px solid var(--cor-borda-cinza-2);
    border-radius: 5px;
    outline: none;
    background-color: var(--cor-branco);
}

.radio-label p {
    font-size: 0.9rem;

    display: flex;
    overflow: hidden;
    align-items: center;

    height: 55px;
}

.radio-label:hover {
    transition: 300ms;

    border-color: var(--cor-1);
    outline: none;
    background-color: #55555530;
}

.radio-input {
    display: none;
}

.radio-input:checked+.radio-label {
    border-color: var(--cor-1);
    background-color: #9dd18d62;
    box-shadow: 0px 0px 15px 5px rgba(73, 135, 54, 0.3);
}

#btn__baixar {
    cursor: pointer;
    user-select: none;
    text-decoration: none;

    color: var(--cor-branco);
    border: 1px solid var(--cor-borda-cinza);
    border-radius: 5px;
    background-color: var(--cor-1);
}

#btn__baixar:hover {
    transition: 300ms;

    color: var(--cor-preto);
    background-color: var(--cor-2);
    box-shadow: 0 0 15px 0px var(--cor-1);
}

#btn__baixar:active {
    background-color: var(--cor-9);
    box-shadow: 0 0 15px 0px var(--cor-9);
}

@media(max-width: 1000px) {
    .container-2 {
        flex-direction: column-reverse;

        padding: 30px 10px;

        gap: 30px;
    }

    .container-3 {
        width: 95vw;
        padding: 0px;
    }

    .container-1 {
        padding: 50px 15px;
    }

    .radio-group {
        justify-content: center;
    }

    .radio-group img {
        width: 50px;
    }

    .radio-label {
        min-width: 80px;
        height: 110px;
    }

    .radio-label p {
        font-size: 15px;

        height: 35px;
    }
}
