/* Importa o estilo principal */

@import url('style.css');

/* Estilos para o cabeçalho */

h1 {
    font-size: 3.75rem;
    font-weight: 800;
}

/* Estilização dos containers */

/* Container 1 */

.container-1 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: fit-content;

    background-image: url(/assets/img/sust_1.jpg);
    background-position: center;
    background-size: cover;
}

.container-1 h1 {
    font-size: 7.5rem;
    font-weight: 700;

    padding: 22vh 0vw;

    text-align: center;

    color: transparent;
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

/* Container 2 */

.container-2 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: fit-content;
    padding: 10vh 10vw;

    gap: 70px;
}

.container-2 h1 {
    color: var(--cor-1);
}

.cont-2-txt {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

/* Container 3 */

.container-3 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;

    height: fit-content;
    padding: 10vh 10vw;

    background-color: var(--cor-1);

    gap: 70px;
}

.container-3 h1 {
    color: var(--cor-branco);
}

.cont-3-txt {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

/* Container 4 */

.container-4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: fit-content;
    padding: 10vh 10vw;

    gap: 40px;
}

.container-4 .cont-4-title {
    font-weight: 800;

    padding: 10px 20px;

    color: var(--cor-1);
    border: 1px solid;
    border-radius: 10px;
}

.cards {
    display: flex;

    gap: 40px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 500px;
    padding: 25px;

    border-radius: 15px;
    background-image: linear-gradient(to top, #498736, #397c35, #297133, #176731, #005c2e);

    gap: 20px;
}

.card img {
    width: 80px;
    margin: 30px;
}

.card h1 {
    font-size: 30px;
    font-weight: 800;

    color: var(--cor-branco);
}

.card p {
    font-size: 20px;

    text-align: justify;

    color: var(--cor-branco);
}

/* Container 5 */

.container-5 {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: fit-content;
    padding: 10vh 10vw;

    background-color: #8ccd7a;

    gap: 70px;
}

.container-5 img {
    width: 220px;
    height: auto;
}

.container-5 h1 {
    padding: 1vh 2vw;

    color: var(--cor-7);
    border: 1px solid var(--cor-7);
    border-radius: 5px;
}

.container-5 .cont-5-p {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 40px;

    border-radius: 15px;
    background: #8ccd7a;
    background-color: #8ccd7a;
    box-shadow: 29px 29px 58px #77ae68, -29px -29px 58px #a1ec8c;

    gap: 15px;
}

.container-5 h3 {
    font-size: 25px;
    font-weight: 700;

    color: var(--cor-7);
}

.container-5 p {
    font-size: 1.25rem;

    text-align: justify;

    color: var(--cor-7);
}

/* Estilos responsivos */

@media(max-width: 1000px) {
    h1 {
        font-size: 3.5rem;
    }

    .container-2,
    .container-3,
    .container-4,
    .container-5 {
        padding: 10vh 5vw;

        gap: 30px;
    }

    .container-1 h1 {
        font-size: 5rem;

        padding: 12vh 0vw;
    }

    .container-2,
    .container-3,
    .container-4,
    .container-5 {
        flex-direction: column;

        height: fit-content;
    }

    .cards {
        flex-direction: column;
    }
}
