@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

/* font-family: 'Dongle', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

/* font-family: 'Libre Caslon Text', serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* font-family: 'Nunito', sans-serif; */

:root {
    --p1-branco: #fcfefb;
    --p1-borda: #50505030;
    --p1-verde: #3e9763;
    --p1-verde-2: #6f897a;
    --p1-cinza: #e9e9e9;
    --p1-branco: #f2f2f2;
    --p1-cinza-2: #737373;
    --p1-cinza-3: #cfcfcf;
    --p1-preto: #0d0d0d;
}

::selection {
    color: var(--p1-branco);
    background-color: var(--p1-verde);
}

::-webkit-scrollbar {
    width: 14px;

    border: 1px solid var(--p1-borda);
    background-color: var(--p1-borda);
}

::-webkit-scrollbar-thumb {
    background-color: var(--p1-cinza-2);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--p1-verde);
}

* {
    font-family: 'Nunito', sans-serif;

    margin: 0;
    padding: 0;

    color: var(--p1-preto);
}

h1,
h2,
h3 {
    font-family: 'Libre Caslon Text', serif;
    font-size: 3rem;
    font-weight: 500;
}

p {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 400;

    color: var(--p1-preto);
}

main button,
main a,
main button {
    font-family: 'Nunito', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;

    width: 80px;
    height: 32px;
    padding: 2px 20px;

    user-select: none;
    transition: 300ms;
}

.flex-center {
    display: flex;
    align-items: center;
}

body {
    min-width: 380px;
    margin-top: 80px;

    background-color: var(--p1-borda);
}

hr {
    height: 1px;

    opacity: 30%;
    border: none;
    outline: none;
    background-color: var(--p1-borda);
}

input,
label,
textarea {
    outline: none;
}

input {
    border: 1px solid var(--p1-borda);
}

input:focus {
    border: 1px solid var(--p1-verde);
}

input:checked {
    accent-color: var(--p1-verde);
}

input::placeholder,
textarea::placeholder {
    color: var(--p1-borda);
}

#btn_to_top {
    position: fixed;
    z-index: 10;
    right: 40px;
    bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    cursor: pointer;
    transition: 300ms;

    background-color: #ffffffa0;
    background-image: url(/assets/icon/seta-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: 18px;
    box-shadow: 0 0 10px 5px #00000024;

    backdrop-filter: blur(3px);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.box-shadow {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.cabecalho {
    position: absolute;
    z-index: 9999;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 80px;

    background-color: var(--p1-branco);
}

.img__cabecalho {
    height: 40px;
}

.links__cabecalho {
    font-size: 0.8rem;

    display: flex;
    justify-content: center;

    gap: 10px;
}

.link__cabecalho {
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    min-width: 120px;
    height: 35px;
    padding: 0 10px;

    transition: 500ms;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;

    color: var(--p1-preto);
}

.link__cabecalho:hover {
    background-color: var(--p1-cinza-3);
    box-shadow: 0px 0px 10px 3px #00000062;
}

.sobre_btn:hover ~ .sobre__img {
    transform: rotate(90deg);
}

.sobre__img {
    filter: saturate(0);
}

.sobre_btn:hover ~ .sobre__links {
    display: flex;

    transition: 300ms;
}

.sobre__links:hover {
    display: flex;
}

.sobre__links {
    position: absolute;

    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 140px;
    margin: 35px 0px 0px 300px;

    transition: 300ms;
    text-align: center;

    border: 1px solid var(--p1-cinza-2);
    border-top: none;
    outline: none;
    background-color: var(--p1-branco);
}

.sobre__links a {
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 35px;

    text-decoration: none;
}

.sobre__links a:hover {
    transition: 300ms;

    background-color: var(--p1-cinza-3);
}

.menu__mobile {
    display: none;

    width: fit-content;

    cursor: pointer;
}

#btn__entrar {
    color: var(--p1-branco);
    background-color: var(--p1-verde);
}

#btn__contate__nos {
    border: 1px solid var(--p1-verde);
}

.separator {
    width: 1px;

    background-color: var(--p1-borda);
}

.barra {
    width: 32px;
    height: 4px;
    margin: 15%;

    background-color: var(--p1-verde);
}

.rodape {
    display: flex;
    justify-content: space-around;

    height: fit-content;
    padding: 20px 150px;

    color: var(--p1-branco);
    background-color: var(--p1-cinza-2);
}

.rodape p {
    font-size: 0.6rem;

    text-transform: uppercase;

    color: var(--p1-branco);
}

.sobre__rodape {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.links__rodape {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.link__3 {
    font-size: 0.7rem;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    min-width: 75px;
    padding: 8px;

    transition: 300ms;
    text-decoration: none;

    color: var(--p1-branco);
}

.img__rodape {
    height: 60px;
    margin-bottom: 20px;
}

.link__3:hover {
    transition: 300ms;

    background-color: #ffffff50;
    box-shadow: 0px 0px 10px 5px #ffffff34;
}

.externals .flex-row {
    justify-content: center;

    padding-top: 15px;

    gap: 15px;
}

.externals a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    padding: 5px;

    transition: 300ms;

    border: 1px solid #ffffff30;
}

.externals a:hover {
    box-shadow: 0px 0px 8px 1px var(--p1-branco);
}

.externals img {
    width: 20px;

    filter: invert();
}

.nav__pagina__mobile {
    position: fixed;
    top: 58px;
    left: 100%;

    display: flex;
    flex-direction: column;

    width: 90vw;
    height: 82vh;
    padding: 20px 5vw 100% 5vw;

    transition: 500ms;

    background-color: var(--p1-branco);

    gap: 8px;
}

.btn__mobile {
    font-size: 1rem;
    font-weight: 500;

    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: row;

    width: 85vw;
    margin: 0;
    padding: 12px;

    text-decoration: none;

    color: black;
    border: 1px solid var(--p1-borda);

    gap: 20px;
}

.btn__mobile:hover {
    background-color: #49873630;
}

.btn__mobile__img {
    width: 25px;

    pointer-events: none;

    image-rendering: optimizeSpeed;
}

#seta_sobre {
    position: absolute;

    width: 18px;
    height: 18px;
    margin-left: 330px;

    transition: 300ms;
    transform: rotate(270deg);
}

#sobre_btn_mobile {
    transition: 300ms;
}

#sobre_btn_mobile.active {
    margin-bottom: 175px;

    transition: 300ms;
}

#sobre__links_mobile {
    position: fixed;
    top: 250px;
    left: 40px;

    display: flex;
    flex-direction: column;

    transition: 200ms;
    transform: scaleY(0);
    text-decoration: none;

    background-color: var(--p1-branco);

    gap: 8px;
}

#sobre__links_mobile.active {
    position: fixed;
    top: 315px;
    left: 40px;

    height: fit-content;

    transition: 200ms;
    transform: scaleY(1);

    opacity: 1;
}

#seta_sobre.active {
    transition: 300ms;
    transform: rotate(360deg);
}

#sobre__links_mobile a {
    width: 80vw;
}

@media(max-width: 1000px) {
    body {
        margin-top: 60px;
    }

    .rodape {
        flex-direction: column-reverse;

        padding: 50px 10px 80px 10px;
    }

    .sobre__rodape {
        align-items: center;
        justify-content: center;
    }

    .rodape p {
        text-align: center;
    }

    .separator {
        width: 100%;
        height: 1px;
        margin: 4vh 0vw;
    }

    .link__3 {
        font-size: 0.8rem;

        width: fit-content;
        padding: 8px 1px;
    }

    .links__cabecalho {
        display: none;
    }

    #btn__contate__nos {
        background-color: var(--p1-cinza-3);
    }

    .cabecalho {
        position: fixed;

        display: flex;
        overflow: hidden;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        max-width: 100%;
        height: 60px;
        padding: 0vh 5vw;

        transition: 600ms;
        transition: 500ms;

        background-color: var(--p1-branco);
        box-shadow: 0px 3px 10px 7px var(--p1-borda);

        gap: 10px;
    }

    .cabecalho.active {
        position: fixed;
        z-index: 99999999;
        top: 0;

        transition: 500ms;
    }

    .nav__pagina__mobile.active {
        position: fixed;
        z-index: 99999999;
        top: 58px;
        left: 0;

        padding-top: 20px;

        transition: 500ms;
    }

    .menu__mobile {
        position: fixed;
        top: 15px;
        right: 20px;

        display: block;

        transition: 500ms;
    }

    .menu__mobile .barra {
        transition: 500ms;
    }

    .menu__mobile.active .barra:nth-child(2) {
        opacity: 0;
    }

    .menu__mobile.active .barra:nth-child(1) {
        transition: 500ms;
        transform: translateY(5px) rotate( 45deg);
    }

    .menu__mobile.active .barra:nth-child(3) {
        transition: 500ms;
        transform: translateY(-13px) rotate( -45deg);
    }
}

@media(hover : hover) {
    #btn_to_top:hover {
        transition: 300ms;

        background-color: var(--p1-verde);
        background-position-y: 10px;
        box-shadow: 0 0 10px 5px #0000005a;
    }
}
