@import url(style.css);

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: fit-content;
    min-height: 380px;
    padding: 10vh 10vw;

    background-color: #e9e9e9;
}

main {
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.container img {
    width: 150px;
}

.container-1 {
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 100%;
    height: 750px;
    padding: 0;
}

.container-1 video {
    position: absolute;
    top: 0;
    right: 0;

    min-width: 100%;
    min-height: 100%;

    object-fit: cover;
    filter: brightness(0.3) contrast( 1.1) saturate( 1.2);
}

.cont-1-txt {
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 170px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 700px;
    height: fit-content;
    padding: 20px;

    gap: 30px;
}

.cont-1-txt div:nth-child(1) {
    display: flex;
    align-items: center;
    flex-direction: row;

    gap: 20px;
}

.cont-1-txt img {
    width: 100px;
}
.cont-1-txt h1 {
    font-size: 4rem;

    color: var(--p1-branco);
    text-shadow: 0 0 3px #ffffff23;
}

.cont-1-txt h2 {
    font-size: 1.8rem;
    font-weight: 200;
    font-family: 'Nunito', sans-serif;
    color: var(--p1-branco);
    text-shadow: 0 0 3px #ffffff3d;
}

.container-2 {
    flex-direction: column;
    justify-content: center;

    background: url(/assets/shapes/s03.svg);
    background-position: center;
    background-size: cover;

    gap: 30px;
}

.container-2 h2 {
    font-size: 55px;

    width: fit-content;

    color: var(--p1-verde);
}

.container-2 p {
    text-align: justify;

    column-count: 2;
    column-gap: 30px;
}

.container-3 {
    display: flex;
    flex-direction: row;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    gap: 70px;
}

.container-3 h2 {
    width: auto;

    color: var(--p1-verde);
}

.container-3 p {
    text-align: justify;
}

.container-4 {
    z-index: 5;

    overflow: hidden;
    flex-direction: column;

    background-color: var(--p1-cinza);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.container-4 h2 {
    padding: 8px 30px;

    color: var(--p1-verde);
}

.container-4 p {
    color: var(--p1-preto);
}

.container-4 div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    gap: 70px;
}

.container-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url(/assets/shapes/s04.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    gap: 40px;
}

.container-5 .container-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    gap: 40px;
}

.container-5 h2 {
    padding: 15px 50px;

    color: var(--p1-verde);
    border: 1px solid var(--p1-verde);
    border-radius: 15px;
}

.container-5 p {
    text-align: justify;
}

.container-5 .cont-link {
    color: var(--p1-preto);
}

.container-5 .cont-link:hover {
    box-shadow: 0 0 15px 5px #00000042;
}

.cont-link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 32px;

    transition: 500ms;
    text-align: center;
    text-decoration: none;

    color: var(--p1-branco);
    border: none;
    outline: none;
    background: none;
    background-color: #ffffff65;
    box-shadow: 0px 0px 10px 2px rgba(51, 51, 51, 0.1);

    backdrop-filter: blur(5px);
}

.cont-link:hover {
    cursor: pointer;
    transition: 300ms;

    background-color: #ddddddb2;
    box-shadow: 0px 0px 10px 3px #ddddddb2;
}

.buttons {
    display: flex;
    flex-direction: row;

    gap: 10px;
}

@media(max-width: 1000px) {
    .cont-link {
        min-width: 120px;
    }

    .container img {
        width: 100px;
    }

    .container {
        flex-direction: column;

        gap: 40px;
    }

    .container-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        width: 100vw;
        height: 570px;
        padding: 0;
        background-color: var(--p1-verde);
    }

    .container-1 video {
        min-height: auto;
        min-width: auto;
        height: 100%;
    }

    .cont-1-txt {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;

        width: 90%;
        margin: 0;
        padding: 0;

        gap: 45px;
    }

    .cont-1-txt h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .container h2 {
        font-size: 2rem;
    }

    .container-4 div {
        flex-direction: column;
    }

    .container-2 {
        height: fit-content;
    }

    .container-2 p {
        column-count: 1;
    }

    .container-3 {
        height: fit-content;
    }

    .container-3 h2 {
        width: auto;
    }

    .container p {
        align-self: center;

        width: 85vw;
        max-width: 85vw;
        padding: 0;

        text-align: justify;
    }
}
