@import url(style.css);

.container-1 {
    display: flex;
    flex-direction: column;

    height: fit-content;
    padding: 10vh 10vw;

    background-color: var(--cor-6);

    gap: 15px;
}

.container-1 h1,
.container-1 p {
    color: var(--cor-branco);
}

.container-1 h1 {
    font-size: 3.5rem;
}

.container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: fit-content;
    padding: 35px 0px;

    background: none;

    gap: 150px;
}

.form_contato {
    display: flex;
    flex-direction: column;

    width: 30vw;
    min-width: 500px;
    height: 85%;
    padding: 10px;

    border-radius: 5px;
    gap: 10px;
}

.container-2 label,
.container-2 input,
.container-2 textarea {
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 5px;
    outline: none;
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: fit-content;
}

.names div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 49%;
    gap: 10px;
}

.container-2 input {
    height: 32px;
    text-indent: 10px;
    border: 1px solid var(--cor-borda-cinza);
    background: #fcfefb;
    box-shadow: inset 0px 0px 12px 0px rgb(0, 0, 0, 0.1);
}

.container-2 textarea {
    min-height: 120px;
    padding: 15px;

    resize: none;

    border: 1px solid var(--cor-borda-cinza);
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.container-2 input:focus {
    border: 1px solid var(--cor-1);
}

.container-2 textarea:focus {
    border: 1px solid var(--cor-1);
}

.container-2 h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;

    text-align: left;

    color: var(--cor-5);
}

.container-2 button {
    padding: 5px;
    transition: 300ms;

    color: var(--cor-branco);
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: var(--cor-1);
}

.container-2 button:hover {
    transition: 300ms;

    color: var(--cor-preto);
    background-color: var(--cor-2);
    box-shadow: 0 0 15px 0px var(--cor-1);
}

.cont-2-txt {
    display: flex;
    flex-direction: column;

    width: 20vw;
    height: 85%;
    padding: 10px;

    background-color: var();
}

.cont-2-txt h1 {
    font-size: 1.5625rem;

    padding-bottom: 10px;
}

.cont-2-txt p,
.cont-2-txt a {
    font-size: 1.125rem;
    font-weight: 400;
}

.cont-2-txt ul {
    padding-left: 20px;
}

.cont-2-txt li {
    font-size: 1.125rem;
    font-weight: 400;

    color: var(--cor-6);
}

main hr {
    margin: 25px 0px;
}

.cont-2-txt .email {
    display: flex;
    align-items: center;
    flex-direction: row;

    gap: 15px;
}

.cont-2-txt .email img {
    height: 35px;
}

.cont-2-txt iframe {
    border: 2px solid var(--cor-1);
    border-radius: 5px;
    outline: none;
}

.form-obs {
    font-size: 0.6875rem;
    margin: 12px 0px 12px 0px;

    text-align: center;

    color: #e74e4e;
}

@media(max-width: 1000px) {
    .container-1 {
        padding: 50px 15px;
    }

    .container-1 h1 {
        font-size: 3.2rem;
    }

    .container-2 {
        flex-direction: column;

        height: fit-content;
        padding: 2vh 0vw;

        gap: 40px;
    }

    .names {
        width: 100%;

        gap: 0px;
    }

    .names div {
        width: 49%;
    }

    .form_contato {
        min-width: 370px;
        width: 95vw;
    }

    .cont-2-txt {
        width: 95vw;
        padding-top: 30px;

        border-top: 1px solid var(--cor-5);
    }
}